@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bungee+Spice&display=swap');
*{
	box-sizing:border-box;
	margin:0;
}
body{
	margin:0;
	font-family:"Acme", sans-serif;
}
:root{
	--color-bg:#4ba51d;
	--color-boton:#3358f8;
	--text-color:#d12f01;
}
header{
	background:var(--color-bg);
	display:flex;
	justify-content:space-between;
	border-radius:10px;
	margin:0 0 2% 0;
	padding:2% 0 2% 0;
}
h1{
	font-family:"Bungee Spice", sans-serif;
}
.rules li{
	color: var(--text-color);
}
#nombreYslogan{
	width:100%;
	border-radius:6px;
	margin-left:1%;
}
#conditions{
	width:50%;
	font-size:1em;
	background:#f89d1a;
	border-radius:10px;
	padding:1%;
}
#contenido-principal{
	display:block;
	float:left;
	width:48%;
	margin:1%;
}
#contenido-secundario{
	display:block;
	float:right;
	width:48%;
	margin: 1%;
	position:relative;
}
.texto-cifrado{
	background-color:#bceeff;
	width:100%;
	height:620px;
	font-family:noto sans, sans-serif;
	font-size:1.7rem;
	font-weight:400;
	line-height:30px;
	border:none;
	border-radius:20px;
	outline:none;
	z-index:1;
}
.texto-cifrado:focus{
	background-color:#def7ff;
}
.botones{
	display:flex;
	gap:7%;
	margin:2% 0 2% 12%;
	width:80%;
	gap:40px;
}
button{
	width:45%;
	height:3em;
	border:none;
	border-radius:20px;
	background:var(--color-boton);
	color:#ffffff;
	font-weight:bold;
	font-size:.8rem;
	letter-spacing:2px;
	
}
.bto-cifrar:hover, .bto-opcional:hover{
	background-color:var(--color-bg);
	color:var(--text-color);
}
footer{
	background:var(--color-bg);
	clear:right;
	width:100%;
	height:100%;
	padding:2% 0 2% 0;
	border-radius:10px;
	opacity:90%;
}
address{
	display:flex;
	justify-content:flex-end;
	margin-right:2%;
	text-align:right;
	font-size:1.3rem;
	letter-spacing:.5px;
}
#img-buscando{
	position:absolute;
	width:70%;
	left:12%;
	top:3%;
	z-index:3;
}
#img-mensaje{
	position:absolute;
	width:70%;
	left:15%;
	top:63%;
	z-index:3;
}
@media screen (min-width: 481px), (max-width: 768px){
	h1{
		font-size:1.7rem;
	}
	ul, p{
		font-size:1rem;
	}
	#cabecera{
		display:block;
		width:100%;
	}
	#nombreYslogan{
		text-align:center
	}
	#conditions{
		width:80%;
		align-content:center;
		margin:3% 0 1% 10%;
		padding:2%;
	}
	#contenido-principal{
		margin-left:1%;
		display:block;
		width:55%;
	}
	#contenido-secundario{
		margin-right:1%;
		width:40%;
	}
	#caja-text1{
		width:100%;
		height:600px;
	}
	#caja-text2{
		width:100%;
		height:600px;
	}
	.botones{
		display:flex;
		justify-content:space-around;
		text-align:center;
		width:100%;
		margin:2% 0 2% 0;
		gap:5px;
	}
	button{
		width:40%;
		height:38px;
	}
	#img-buscando{
		top:20%;
		left:2%;
		width:100%;
		z-index:2;
	}
	 #img-mensaje{
		top:60%;
		left:1%;
		width:100%;
		z-index:2;
	 }
	 footer{
		 height:100%;
		 width:100%;
	 }
	 address{
		 padding:1% 0 1% 0;
		 font-size:1rem;
		 margin-right:4%;
	 }
}
@media screen (min-width: 375px), (max-width:480px){
	#cabecera{
		width:100%;
		display:block;
		height:100%;
		padding:5% 0 1% 0;
	}
	#nombreYslogan{
		text-align:center;
	}
	#conditions{
		width:80%;
		align-content:center;
		margin:3% 0 1% 10%;
		padding:2%;
	}
	h1{
		font-size:1.2rem;
	}
	p, ul{
		font-size:0.8rem;
	}
	#contenido-principal, #contenido-secundario{
		float:none;
		display:block;
		width:98%;
		height:100%;
		margin:2%;
		align-content:center;
	}
	#caja-text1, #caja-text2{
		font-size:1.2rem;
		width:95%;
		height:465px;
		margin:1%;
	}
	#caja-text2{
		position:relative;
		margin-left:1%;
	}
	#img-buscando{
		position:absolute;
		width:65%;
		top:10%;
		left:15%;
	}
	#img-mensaje{
		width:65%;
		position:absolute;
		left:15%;
		top:58%;
	}
	.botones{
		display:flex;
		justify-content:space-around;
		text-align:center;
		width:100%;
		margin:1%;
		gap:10px;
	}
	button{
		font-size:0.6rem;
		width:35%;
		height:30px;
	}
	footer{
		display:flex;
		justify-content:flex-end;
		width:100%;
		height:100%;
	}
	address{
		font-size:.9rem;
		margin:1%;
		margin-right:4%;
	}
}