@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bungee+Spice&display=swap');
*{
	box-sizing:border-box;
}
body{
	margin:0;
	font-family:"Acme", sans-serif;
}
:root{
	--color-bg:#4ba51d;
	--color-boton:#3358f8;
}
header{
	background:var(--color-bg);
	display:flex;
	justify-content:space-between;
	border-radius:20px;
	align-items:center;
	margin-bottom:10px;
	padding:.5% 0 .5% 0;
}
#logo{
	width:100%;
	border-radius:6px;
	margin-left:1%;
}
#conditions{
	width:50%;
	font-size:0.9em;
	background:#f89d1a;
	border-radius:10px;
	padding:.5% 0 .5% 1%;
}

#contenido-principal, #contenido-secundario{
	float:left;
	width:45%;
	margin-left:3.5% ;
	margin-bottom:10px;
}
h1{
	margin:0;
	font-family:"Bungee Spice", sans-serif;
}
p, ul{
	margin:0;
}
.rules li{
	color:#d12f01;
}
/* quitar border al final */
button{
	width:180px;
	height:40px;
	border:none;
	border-radius:10px;
	background:var(--color-boton);
	color:#ffffff;
	font-weight:bold;
}
.cifrar:active, .bto-secundario:active{
	background-color:#2174d4;
}
.boton{
	display:flex;
	position:relative;
	left:85px;
	gap:30px;
	margin:5px 0 10px 0;
	width:80%;
}
footer{
	background:var(--color-bg);
	clear:left;
	width:100%;
	border-radius:10px;
	padding:5px 0 8px 0;
}
address{
	margin-left:20px ;
}
.texto-cifrado{
	width:570px;
	height:450px;
	font-family:noto sans, sans-serif;
	font-size:20px;
	font-weight:400;
	line-height:48px;
	border:1px solid transparent;
	border-radius:20px;
	background-color:#bceeff;
	outline:none;
}
.texto-cifrado:focus{
	border:2px solid blue;
	background-color:#def7ff;
}
/* .image1{ */
	/* display:inline-block; */
	/* width:100%; */
	/* border-radius:10px; */
	/* object-fit:fill; */
/* } */